.pricing-container {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    display: flex;

    .pricing-panel {
        margin-right: 24px;
        flex: 0 0 calc(33% - 16px);
        width: calc(33% - 16px);
        background-color: white;
        border-top: 10px solid;
        display: flex;
        flex-direction: column;

        &:last-child {
            margin-right: 0;
            flex: 0 0 calc(34% - 16px);
            width: calc(34% - 16px);
        }

        >div {
            padding: 24px;

            &:last-child {
                flex: 1 0 auto;
                display: flex;
                flex-direction: column;

                .middle-div {
                    flex: 1 0 auto;
                }
            }
        }

        >hr {
            border: 0 solid;
            border-top-width: 1px;
            border-top-color: #cdcdcd;
            margin: 0;
        }

        .price {
            height: 96px;
        }
    }
}

.currency-widget {
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;
    font-size: 14px;
    font-weight: 700;

    >span {
        width: 38px;
        padding: 0 7px;
        margin: 8px 0;
        cursor: pointer;
        margin-right: 2px;
        color: #a1a4a6;
        border-right: solid 1px #a1a4a6;

        &.active {
            color: black;
        }

        &:last-child {
            border-right: none;
        }
    }
}

.pricing-mobile {
    .pricing-container {
        display: flex;
        flex-direction: column;

        .pricing-panel {
            margin-right: 0;
            flex: 0 0 auto;
            width: auto;
            margin: 24px;
        }
    }
}

.contrib-container {
    width: 100%;
    max-width: 1280px;
    margin: 64px auto;
    display: flex;

    .left-cont {
        flex: 0 0 calc(42% - 72px);
        background-color: #c6def0;
        padding: 36px;
        display: flex;
        justify-content: flex-end;
    }

    .right-cont {
        flex: 0 0 calc(58% - 128px);
        background-color: #f8f6f0;
        padding: 18px 64px;

        .account-type {
            border-bottom: solid 2px #cdcdcd;

            &:last-child {
                border-bottom: none;
            }
        }

        .account-type-info {
            flex: 0 0 50%;
            width: 50%;
        }

        .account-type-price {
            display: flex;
            justify-content: center;
            align-items: center;
            border: 2px solid #ffcb02;
            border-radius: 42px;
            height: 40px;
            width: 160px;

            &.active {
                background-color: #ffcb02;
            }
        }
    }
}

.compare-plans-container {

    article {
        width: 100%;
        max-width: 1280px;
        margin: 0 auto;
    }

    ul {
        display: flex;
        top: 0px;
        z-index: 10;
        padding-bottom: 14px;
    }

    li {
        list-style: none;
        flex: 1;
    }

    li:last-child {
        border-right: 1px solid #DDD;
    }

    button {
        width: 100%;
        border: 1px solid #DDD;
        border-right: 0;
        border-top: 0;
        padding: 10px;
        background: #FFF;
        font-size: 14px;
        font-weight: bold;
        height: 60px;
        color: #999
    }

    li.active button {
        background: #F5F5F5;
        color: #000;
    }

    table {
        border-collapse: collapse;
        table-layout: fixed;
        width: 100%;

        &.sticky {
            background-color: white;
            top: 60px;
            position: sticky;
        }
    }

    th {
        background: #F5F5F5;
        display: none;
    }

    td,
    th {
        height: 53px
    }

    td,
    th {
        border: 1px solid #DDD;
        padding: 10px;
        empty-cells: show;
    }

    td,
    th {
        text-align: left;
    }

    td+td {
        text-align: center;
        display: none;
    }

    td.default {
        display: table-cell;
    }

    .bg-purple {
        border-top: 3px solid #A32362;
    }

    .bg-blue {
        border-top: 3px solid #0097CF;
    }

    .sep {
        background: #F5F5F5;
    }

    .empty {
        border: 0;
    }

    .txt-l {
        font-size: 28px;
        font-weight: bold;
    }

    .tick {
        font-size: 18px;
        color: #2CA01C;
    }

    .hide {
        border-color: transparent;
        background: none;
    }

    @media (min-width: 640px) {
        ul {
            display: none;
        }

        td,
        th {
            display: table-cell !important;
        }

        td+td,
        th+th {
            width: auto;
        }
    }

    thead {
        tr {
            th {
                &.hide {
                    border-right-color: #DDDDDD;
                    border-bottom-color: #DDDDDD;
                }

                border-top: solid 10px;

            }
        }
    }

    tbody {
        tr {
            &:first-child {
                td {
                    border-top: 0;
                }
            }
        }
    }
}