header {
    position: fixed;
    top: 0;
    background-color: white;
    width: 100vw;

    .header {
        height: 60px;
        padding: 0 40px;

        .header-logo {
            height: 60px;

            .logo-img-anchor {
                line-height: 0;
            }

            .logo-img {
                max-height: 45px;
                max-width: 180px;
            }
        }
    }

    .header-nav {

        ul,
        li {
            list-style: none;
            margin: 0;
            padding: 0;
            text-align: left;
        }

        font-size: 13px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1px;

        a {

            color: #666666;

            &.active,
            &:hover,
            &:active,
            &:focus {

                &,
                span {
                    color: #3079cd;
                    text-decoration: none;
                }
            }
        }

        ul {
            >li {
                >a {
                    line-height: 60px;
                    height: 60px;
                }

                &:last-child {
                    >a {
                        padding-right: 0;
                    }
                }
            }
        }
    }

    .header-desktop {
        .header-nav {
            ul {
                display: flex;

                >li {
                    >a {
                        padding: 0 24px;
                    }

                    &:last-child {
                        >a {
                            padding-right: 0;
                        }
                    }
                }
            }
        }
    }

    .header-mobile {
        padding: 0 15px;
    }

    .lines {
        position: relative;

        &,
        &:before,
        &:after {
            display: inline-block;
            width: 20px;
            height: 2px;
            -webkit-border-radius: 5px;
            -webkit-background-clip: padding-box;
            -moz-border-radius: 5px;
            -moz-background-clip: padding;
            border-radius: 5px;
            background-clip: padding-box;
        }

        &:before,
        &:after {
            position: absolute;
            left: 0;
            content: '';
            -webkit-transform-origin: 10px center;
            transform-origin: 10px center;
        }

        &:before {
            top: 6px;
        }

        &:after {
            top: -6px;
        }
    }

    .header-hamburger {
        height: 100%;
        line-height: 0;
        cursor: pointer;

        &.open .lines:before,
        &.open .lines:after {
            top: 0;
            width: 20px;
            -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s 0.4s ease-in-out;
            -moz-transition: top 0.3s ease-in-out, -moz-transform 0.3s 0.4s ease-in-out;
            -o-transition: top 0.3s ease-in-out, -o-transform 0.3s 0.4s ease-in-out;
            transition: top 0.3s ease-in-out, -webkit-transform 0.3s 0.4s ease-in-out, -moz-transform 0.3s 0.4s ease-in-out, -o-transform 0.3s 0.4s ease-in-out, transform 0.3s 0.4s ease-in-out;
        }

        .lines:before,
        .lines:after {
            -webkit-transform-origin: 50% 50%;
            -moz-transform-origin: 50% 50%;
            -o-transform-origin: 50% 50%;
            -ms-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
            -webkit-transition: top 0.3s 0.4s ease-in-out, -webkit-transform 0.3s ease-in-out;
            -moz-transition: top 0.3s 0.4s ease-in-out, -moz-transform 0.3s ease-in-out;
            -o-transition: top 0.3s 0.4s ease-in-out, -o-transform 0.3s ease-in-out;
            transition: top 0.3s 0.4s ease-in-out, -webkit-transform 0.3s ease-in-out, -moz-transform 0.3s ease-in-out, -o-transform 0.3s ease-in-out, transform 0.3s ease-in-out;
        }

        &.open .lines,
        &.closing .lines {
            transition: background 0.3s 0s ease-in-out;
            background: transparent !important;
        }

        &.open .lines:before {
            -webkit-transform: rotate3d(0, 0, 1, 45deg);
            -moz-transform: rotate3d(0, 0, 1, 45deg);
            -o-transform: rotate3d(0, 0, 1, 45deg);
            -ms-transform: rotate3d(0, 0, 1, 45deg);
            transform: rotate3d(0, 0, 1, 45deg);
        }

        &.open .lines:after {
            -webkit-transform: rotate3d(0, 0, 1, -45deg);
            -moz-transform: rotate3d(0, 0, 1, -45deg);
            -o-transform: rotate3d(0, 0, 1, -45deg);
            -ms-transform: rotate3d(0, 0, 1, -45deg);
            transform: rotate3d(0, 0, 1, -45deg);
        }

        .lines,
        .lines:before,
        .lines:after {
            background: #666666;
        }
    }

    .header-mobile-menu {
        transition: all 0.6s ease-in-out;
        padding: 0 15px;
        max-height: 0;
        overflow: hidden;

        &.open {
            max-height: 450px;
        }
    }
}