.footer {
    font-size: 14px;

    .footer-secondary {
        background-color: #191a1b;
        padding: 24px 40px;
        color: #999999;

        >div {
            width: 100%;
        }

        a {

            &,
            &:hover,
            &:active,
            &:focus {

                &,
                span {
                    color: #999999;
                    text-decoration: none;
                }
            }
        }

        .footer-social-icons {
            >a {
                padding: 0 8px;

                &:last-child {
                    padding-right: 0;
                }
            }
        }
    }

    .footer-main {
        background-color: #1d222b;
        padding: 24px 40px;

        color: #aeb7c1;

        a {
            text-decoration: none;
            color: #ffffff;

            &:hover,
            &:active,
            &:focus {

                &,
                span {
                    color: #49b0f1;
                    text-decoration: none;
                }
            }
        }

        a.app-link {
            display: block;

            img {
                width: 120px;
                height: 53px;
                object-fit: cover;
                margin-top: -10px;
            }
        }

        >div {
            width: 100%;

            .col {
                flex: 0 0 calc(25% - 32px);
                padding: 0 16px;

                &:first-child {
                    flex: 0 0 calc(25% - 16px);
                    padding-left: 0;
                }

                &:last-child {
                    flex: 0 0 calc(25% - 16px);
                    padding-right: 0;
                }

                .title {
                    color: white;
                    font-size: 11px;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                    margin-bottom: 24px;
                    font-weight: 700;
                }
            }
        }
    }

    &.footer-mobile {
        .footer-secondary {
            text-align: center;

            >div {
                flex-direction: column;

                >div {
                    padding: 8px 0;
                }
            }

            .footer-social-icons {
                display: block;

                >a {
                    display: inline-block;
                    padding: 0 20px;

                    >svg {
                        width: 2em;
                        height: 2em;
                    }
                }
            }
        }

        .footer-main {
            >div {
                flex-direction: column;

                .col .title {
                    margin-top: 20px;
                    margin-bottom: 20px;
                }

                >div {
                    padding: 8px 0;
                }
            }

            label {
                display: block;
            }
        }
    }

    .footer-form {
        padding: 96px 40px 48px;

        >div {
            margin: 0 auto;
            min-width: 400px;

            >div {
                text-align: center;

                >div {
                    margin: 10px 0;
                }

                input[type=email] {
                    letter-spacing: 0;
                    font-weight: 400;
                    color: rgba(0, 0, 0, 0.6);
                    background-color: #ffffff;
                    border-color: #cccccc;
                    border-width: 1px;
                    border-style: solid;
                    padding: 6px 10px;
                    box-sizing: border-box;
                    outline: none;
                    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
                    font-size: 19px;
                    line-height: 1.4;
                    margin-bottom: 12px;
                    height: 40px;

                    &:focus {
                        background-color: #ffffff;
                        border-color: #3079cd;
                        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
                    }
                }

                button {
                    height: 40px;
                    min-width: 170px;
                    font-size: 15px;
                    font-weight: 400;
                    text-transform: none;
                    letter-spacing: 0px;
                    border: 1px solid rgb(78, 84, 94);
                    background: rgba(0, 0, 0, 0.01);
                    text-align: center;
                    position: relative;
                    display: inline-block;
                    vertical-align: top;
                    margin: 0 auto;
                    box-shadow: none;

                    background: #efefef;
                    border-color: #cccccc;
                    color: #444444;

                    &:hover {
                        border-color: #3079cd;
                        background: #3079cd;
                        color: white;
                    }

                    cursor: pointer;
                }
            }
        }
    }
}