.post-item {
    overflow: hidden;

    img {
        max-width: 100%;
        display: block;
        margin: 0 auto;
    }

    .date {
        font-size: 16px;
        color: #777;
        margin-bottom: 12px;
    }


    .image {
        img {
            max-width: 100%;
        }
    }
}

.post-list-item {
    display: block;
    margin: 36px 0;
    padding-bottom: 36px;
    border-bottom: solid 2px;
    border-color: rgb(255, 203, 2);
    text-decoration: none;
    overflow: hidden;

    a {
        color: black;

        &:hover,
        &:active,
        &:focus {

            &,
            span {
                color: black;
                text-decoration: underline;
            }
        }
    }

    .image {
        img {
            max-width: 100%;
        }
    }

    .title {
        font-size: 36px;
        line-height: 1.1;
        font-weight: 700;
        margin: 12px 0;
        letter-spacing: -1px;
    }

    .date {
        font-size: 14px;
        color: #777;
        margin-bottom: 12px;
    }

    .tags>div {
        margin-right: 16px;
        display: inline-block;
        background-color: #ccc;
        padding: 4px 12px;
        border-radius: 12px;
        margin-bottom: 12px;
        cursor: pointer;
    }
}

.filter-tags {
    padding: 0 12px;

    >div {
        display: inline-block;
        margin-right: 16px;
        padding: 4px 12px;
        border-radius: 12px;
        background-color: #ccc;
        cursor: pointer;

        &.active {
            background-color: #3079cd;
            color: white;
        }
    }
}

.blog-single-panel {
    padding: 0 12px;
    width: 640px;
}

.mobile {
    .blog-single-panel {
        width: calc(100% - 24px);
    }
}