.full-width {
    margin: 0 -40px;
    padding: 64px 0;

    &.tablet {
        overflow: hidden;

        >* {
            max-width: 640px;
            margin-left: auto;
            margin-right: auto;
        }
    }

    &.mobile {
        overflow: hidden;

        >* {
            max-width: 100vw;
            margin-left: auto;
            margin-right: auto;
        }
    }
}