.two-col {
    margin: 0 -40px;
    padding: 64px 100px;
    justify-content: center;

    >* {
        flex: 0 1 auto;
    }

    &.tablet {
        overflow: hidden;
        flex-direction: column;

        >* {
            display: flex;
            justify-content: center;
        }
    }

    &.mobile {
        overflow: hidden;
    }
}