.App {
    font-family: Roboto;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0px;
    font-weight: 400;

    h3 {
        font-family: Roboto;
        font-size: 60px;
        line-height: 65px;
        letter-spacing: 3px;
        font-weight: 700;
        margin: 30px 0;
    }

    h4 {
        font-size: 18px;
        line-height: 21px;
        letter-spacing: 0px;
        font-weight: 600;
        margin-bottom: 20px;
    }

    a {
        text-decoration: none;
        color: #009cde;

        &:hover,
        &:active,
        &:focus {

            &,
            span {
                color: #49b0f1;
                text-decoration: none;
            }
        }
    }
}